.movies {
  word-wrap: break-word;
  background-image: $gradient-bg;
  padding: $baseline-grid * 6;

  &__page-title {
    margin-left: $baseline-grid * 3;
  }
  
  &__container {
    position: relative;
    max-width: 1200px !important;
  }
}