.nfx-grid-thumbnail {
  position: relative;
  display: inline-block;
  padding-left: $baseline-grid * 3;
  padding-right: $baseline-grid * 3;
  margin-bottom: $baseline-grid * 4;
  transition: transform 0.1s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  &__poster-image {
    display: block;
    width: $poster-width;
  }

  &__rating__container {
    text-align: center;
  }

  &__rating {
    position: absolute;
    padding: $baseline-grid / 2;
    width: 48px;
    border-radius: 10px;
    top: -12px;
  }

  &__title {
    margin-bottom: 0;
  }

  &__genres {
    font-style: italic;
    overflow: hidden;
    max-width: $poster-width;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}
