<div class="nfx-grid-thumbnail">
    <a href="/movie/{{$ctrl.movieId}}">
        <div class="nfx-grid-thumbnail__rating__container" layout="row" layout-align="center start">
                        <span class="nfx-grid-thumbnail__rating"
                              md-colors="{'background-color' : 'primary'}">{{$ctrl.rating}}</span>
        </div>
        <img class="nfx-grid-thumbnail__poster-image md-whiteframe-8dp"
             src="{{$ctrl.poster}}" alt="">
        <h2 class="md-subhead">{{$ctrl.title}}</h2>
    </a>
</div>