.movie-details {
  background-image: $gradient-bg;

  &__backdrop {
    position: relative;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media(max-width: $layout-breakpoint-lg) {
      height: 400px;
    }

    @media(max-width: $layout-breakpoint-sm) {
      height: 300px;
    }

    &__overlay {
      background-color: rgba(black, 0.7);
      height: 100%;
    }
  }

  &__container {
    position: relative;
    top: -170px;
    margin-bottom: $baseline-grid * 6;
  }

  &__info-wrap {
    width: 960px;
    margin-left: $baseline-grid * 3;
    margin-right: $baseline-grid * 3;
  }

  &__poster {
    width: $poster-width;
    margin-right: $baseline-grid * 3;
    margin-bottom: $baseline-grid;

    img {
      display: block;
      width: 100%;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: $baseline-grid;
  }

  &__genres {
    font-style: italic;
    margin-bottom: $baseline-grid;
  }

  &__release-date {
    margin-bottom: $baseline-grid;
  }

  &__runtime {
    margin-bottom: $baseline-grid;
  }

  &__rating {
    @extend .nfx-grid-thumbnail__rating;
    position: relative;
    top: 0;
    text-align: center;
  }

  &__section-heading {
    margin-bottom: 0;
  }

  &__watch-trailer-btn {
    margin-left: 0;
    margin-right: 0;
    max-width: $poster-width;
  }
}