<md-content class="movie-details"
            layout="row"
            layout-align="center start"
            flex
            md-scroll-y
            md-colors="{'background-color' : 'background-700'}">
    <div layout="row" layout-align="center start" layout-wrap flex>
        <div class="movie-details__backdrop"
             layout="row"
             flex
             style="background-image: url('{{ movie.movieDetails.backdropImage }}')"
             layout-align="center end"
             layout-wrap>
            <div class="movie-details__backdrop__overlay" flex="100"></div>
            <div class="movie-details__container movie-details__info-wrap"
                 layout="row"
                 flex>
                <div layout="column">
                    <div class="movie-details__poster md-whiteframe-8dp">
                        <img ng-src="{{ movie.movieDetails.posterImage }}" alt="{{ movie.movieDetails.title }}" >
                    </div>
                    <!-- TODO: Disable button if trailer is unavailable -->
                    <md-button class="md-primary md-raised movie-details__watch-trailer-btn"
                               ng-click="movie.openTrailer($event)">Watch Trailer</md-button>
                </div>
                <div layout="column">
                    <h2 class="md-display-1 movie-details__title">
                        {{ movie.movieDetails.title }} ({{ movie.movieDetails.year }})
                    </h2>
                </div>
            </div>
        </div>
    </div
</md-content>