<div class="nfx-cast-profile-thumbnail" layout-align="center start" layout="row" layout-wrap>
    <img class="nfx-cast-profile-thumbnail__image" ng-src="{{ $ctrl.imageUrl }}"
         alt="{{ $ctrl.name }}">
    <p class="nfx-cast-profile-thumbnail__name md-body-2" flex="100">
        {{ $ctrl.name }}
        <md-tooltip>{{ $ctrl.name }}</md-tooltip>
    </p>
    <p class="nfx-cast-profile-thumbnail__character md-caption" flex="100" md-colors="{'color' : 'grey-500'}">
        {{ $ctrl.character }}
    </p>
</div>